@tailwind base;
@tailwind components;
@tailwind utilities;


:root,
#root,
#docs-root {
  --main-white: #fff;
  --main-gray: #f8f9fa;
  --main-gray-iighter: #e9ecef;
  --main-gray-light: #dee2e6;
  --main-gray-light--: #adb5bd;
  --main-black-: #495057;
  --main-darker: #343a40;
  --main-black: #212529;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: var(--main-gray);
}
html{
  scroll-behavior: smooth;
}